/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e5f0e0;
    color: #000000;
    /*font-family: Andale Mono, monospace;*/
}

/* Header Section */
#header{
    width: 100%;
    background-position: center;
    font-family: Verdana, sans-serif;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

#header .container {
    padding: 0 20%;
    /*background: linear-gradient(0deg, #e5f0e0, #FFFFFF 100%);*/
    background: #E5F0E0;
    font-size: 18px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #296E27;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Description Section */
#description {
    background: linear-gradient(0deg, #FFFFFF, #e5f0e0 10%);
    padding: 80px 20%;
    font-family: Arial, sans-serif;
    
}

#description h1 {
    text-align: center;
    margin-bottom: 20px;
}

#description p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

#description li {
    font-size: 13px;
}







/* Images Section */
#images {
    background: #FFFFFF;
}

#images img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 1000px;
}

/* PDF Section */
#pdf {
    background: #FFFFFF;
}

#pdf .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dashboard Section */

#dashboard {
    background-color: white;
    padding: 20px;
}








/* Contact Section */
#contact {
    padding: 20px 20%;
    background: linear-gradient(0deg, #e5f0e0 90%, #FFFFFF 100%);
    font-family: Verdana, sans-serif;
}

#contact h1 {
    margin-bottom: 20px;
    text-align: center;
}

#contact .container {
    padding-top: 20px;
    text-align: center;
}

#contact .container span {
    display: inline-block;
    margin-bottom: 10px;
}

#contact .container span a {
    margin-right: 15px;
    text-decoration: none;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}
